.App{
  background-color: #72A1BF;
}

.button-style{
padding:10px 12px;
}
.cv-btn{
  text-transform: uppercase;
  background-color: #F2FAFF;
  color: #A0A3A5;
  opacity: 1;
  height: 2rem;
  width: 4rem;
}

.main-content{
  padding-top:36px;
  padding-left: 36px;
  padding-bottom:13rem;

}

.container{
  padding-top: 1.5px;
  background-color:#074770;
  margin-top:12rem;
  border-radius:25px;
  padding-bottom: 4rem;
}


.map{
  height:25rem ;
  width:100%;
  /* border-radius:25px; */
  
}
.navbar{
  background-color:#074770;
  border-radius:25px;
  height: 8rem;

}

.input-box{
  display: flex;
}

.marker{
  background-image: url("./images/marker.png"); 
  background-size: cover;
  width: 22px ;
  height:22px;
  background-color:yellow;
  border-radius: 11px;
  border:solid 3px darkslategray;
}